.indexWrapper {
  margin: 0px auto;
}

.photoIndex {
  list-style-type: none;
  padding: 45px 20px;
  min-width: 300px;
  margin: 10px auto;
}

.photo {
  position: relative;
  margin-bottom: 8px;
  background: gray;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  transition-timing-function: linear;
}

.photo:hover {
  opacity: 0.6;
}

.photo img {
  width: 280px;
  cursor: pointer;
}
