.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  color: white;
}

.profile {
  position: relative;
}

.dropdown-loggedin{
  display: none;
  position: absolute;
  left: -1px;
  top: 1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.profile:hover .dropdown-loggedin {
  display: block;
}

.ul:hover .dropdown-loggedin {
  display: block;
}


.login-text, .signup-text{
  display: inline-block;
  padding: 10px 20px 10px 20px;
}

.signup-text{
  margin-right: 10px;
}

.logo {
  padding: 10px 0px 10px 20px;
}
