.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  color: black;
  z-index: 900!important;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.onsplash {
  color: white;
  background: transparent;
  box-shadow: none;
}

.profile {
  position: relative;
}

.dropdown-loggedin {
  position: absolute;
  left: -12px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, 0.2), -3px 9px 20px 0 rgba(0, 0, 0, 0.19) !important;
  top: 77px !important;
  width: 192px !important;
  left: 30px !important;
}

.login-text, .signup-text{
  display: inline-block;
  letter-spacing: 2px;
  padding: 10px 20px 10px 20px;
}

.signup-text{
  letter-spacing: 2px;
  margin-right: 10px;
}

.logo {
  padding: 10px 0px 10px 20px;
  font-size: 48px;
  letter-spacing: 2px;
  cursor: pointer;
}

.profile-circle {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 14px;
  border-radius: 50%;
}

.profile-circle img {
	max-width: 100%;
	max-height: 100%;
  border: white solid 2px;
  border-radius: 50%;
  cursor: pointer;
}

.username-text {
  position: relative;
  display: flex;
  align-items: center;
  left: -10px;
  cursor: pointer;
  height: 20px;
  top: 29px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
}

.activate {
  border-bottom-color: blue;
}

.dropdown-item {
  display: flex;
  width: 152px!important;
  flex-direction: row;
  font-size: inherit;
  justify-content: flex-start;
  padding-left: 40px;
}

.dropdown-item span {
  color: black!important;
  cursor: pointer;
}

.dropdown-item:hover .dropdown-icon, .dropdown-item:hover span {
  color: #26a69a!important;
}

.dropdown-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.upload-text{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  left: -25px;
}

.splashbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
}
