.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.onsplash {
  color: white;
  background: transparent;
  box-shadow: none;
}

.profile {
  position: relative;
}

.dropdown-loggedin {
  position: absolute;
  left: -10px;
  top: 70px!important;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: -2px 4px 8px 0 rgba(0, 0, 0, 0.2), -3px 9px 20px 0 rgba(0, 0, 0, 0.19) !important;
  top: 76px !important;
  width: 200px !important;
  left: -22px !important;
}

.login-text, .signup-text{
  display: inline-block;
  padding: 10px 20px 10px 20px;
}

.signup-text{
  margin-right: 10px;
}

.logo {
  padding: 10px 0px 10px 20px;
  font-size: 48px;
}

.profile-circle {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 13px;
  border-radius: 50%;
}

.profile-circle img {
	max-width: 100%;
	max-height: 100%;
  border: white solid 2px;
  border-radius: 50%;
}

.username-text {
  margin-top: 27px;
  position: relative;
  left: -10px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
}

.activate {
  border-bottom-color: blue;
}

.dropdown-item {

}
