.photo-detail-container {
  display: flex;
  position: relative;
  flex-direction: row;
	width: 100%;
  top: 77px;
  opacity: 0;
}

.loaded {
  opacity: 1;
  transition: opacity 0.2s;
}

.photo-detail {
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #202020;
  height: calc(100vh - 77px);
  width: calc(100vw - 300px);
}

.photo-detail img{
	max-width: 100%;
	max-height: 100%;
  box-sizing: border-box;
  padding: 20px;

}

.photo-info {
	color: black;
	padding: 10px;
	height: calc(100vh - 97px);
	width: 300px;
	background-color: #D9D9D9;
	overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;

	.info {
		padding: 15px 0 10px 10px;
		border-bottom: 1px solid #D2D2D2;

		.detail-title {
			font-size: 22px;
			padding: 0 0 5px 0;
		}

		.detail-description {
			font-size: 12px;
			padding: 0 0 0 10px;
		}

	}
}


.user-detail {

	border-bottom: 1px solid #D2D2D2;
	padding: 0 0 10px 0;
  display: flex;
  align-items: center;

 .img-container {
	height: 90px;
	width: 90px;
	cursor: pointer;

		img {
			height: 100%;
			width: 100%;
			border-radius: 50%;
		}
	}
}

.user-info {
	font-size: 28px;
  position: relative;
  left: 17px;
	padding: 0 0 0 10px;
	cursor: pointer;
}

.back-button {
  display: flex;
  justify-content: center;
  bottom: 10px;
  left: 130px;
  width: 45px;
  margin-top: 20px;
  margin-left: auto;
  cursor: pointer;
  margin-right: auto;
  padding: 5px;
}
